<div class="top-item">
  <h1>在室管理</h1>
  <div class="item_name">
    <table>
      <tr>
        <th>名前</th>
        <th>入室(予定)時間</th>
        <th>退出予定時間</th>
      </tr>
  </div>
    <div class="show-member">
	  <% @member.each do |mem| %>
      <tr>
        <th><%= link_to mem.name, "/#{mem.id}", class:"user_name" %></th>
        <th>時間</th>
        <th><%= mem.plan&.strftime("%H:%M") %></th>
      </tr>
    <% end %>
  </table>
      <%
=begin%>
 <% if Time.now&.strftime("%H:%M") >= mem.plan&.strftime("%H:%M") %>
        <%= link_to("/#{mem.id}/destroy", {method: "post"}) do %>
          <button id="click">a</button>
        <% end %>
        <script>document.getElementById("click").click()</script>
      <% end %>
<%
=end%>
  </div>
  <div>
    <%= link_to "入室", "/enter", class: "under_item" %>
    <%= link_to "予約", "/res", class: "under_item" %>
  </div>
  <%="本日の利用人数は#{@cnt.counter}人です"%>
</div>


